@import "../../styles/includes.scss";

.input {
  border: 1px solid $brand-secondary;
  border-radius: $border-radius;
  background-color: $brand-primary;

  padding: 1.2rem;
  font-size: 1.5rem;

  text-align: center;

  max-width: 6rem;
}
