@import "../../styles/includes.scss";

.button {
  border: 1px solid $brand-secondary;
  border-radius: $border-radius;
  background-color: $brand-primary;
  outline: 0;

  padding: 1.5rem;

  &:active {
    background-color: darken($color: $brand-primary, $amount: 30);
  }
}
.buttonGroup {
  :first-child {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  :last-child {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
